### Library Imports

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import types as T

### Template

In [2]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Section 4 - More Comfortable with SQL?") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

import os

data_path = "/data/pets.csv"
base_path = os.path.dirname(os.getcwd())
path = base_path + data_path

df = spark.read.csv(path, header=True)
df.toPandas()

  id species_id   name             birthday  color
0  1          1   King  2014-11-22 12:30:31  brown
1  2          3  Argus  2016-11-22 10:05:10   None